<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Edit task</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong
      >Are you sure you want to Edit
      <span class="text-primary">{{ kanbanGrid?.title }}</span> profile?</strong
    >
  </p>
  <p *ngFor="let series of kanbanGrid?.series">
    <span class="text-danger">{{ series }}</span>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close('Ok click')"
  >
    Ok
  </button>
</div>
